body {
  margin: 0;
  padding: 0;
}

div.header {
  margin: 0;
  padding: 0;
}

div.header .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

div.header ol.nav {
  list-style: none;
  float: right;
  margin: 2em;
  padding: 0;
}

div.header ol.nav li {
  color: #ccc;
  min-width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.header ol.nav li a {
  color: #ccc;
  text-decoration: none;
}

div.header ol.nav li {
  border-bottom: solid 3px #fff;
}

div.header ol.nav li[now="true"] {
  border-bottom: solid 3px #88f;
}

div.header ol.nav li:hover:not(.nohover) {
  border-bottom: solid 3px #88f;
}

div.footer {
  margin: 5em 0 0;
  padding: 0;
}

div.footer .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

div.footer ol.nav1 {
  list-style: none;
  width: 37em;
  margin: 0;
  padding: 0;
}

div.footer ol.nav {
  list-style: none;
  width: 37em;
  margin: 0;
  padding: 0;
}

div.footer ol.nav li {
  color: #ccc;
  min-width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
}

div.footer ol.nav li a {
  color: #ccc;
  text-decoration: none;
}

div.footer ol.nav li {
  border-bottom: solid 3px #fff;
}


div.footer ol.nav li:not(.nohover) {
  text-align: center;
}

div.footer ol.nav li.nohover {
  width: 16em;
}

div.footer ol.nav li[now="true"] {
  border-bottom: solid 3px #88f;
}

div.footer ol.nav li:hover:not(.nohover) {
  border-bottom: solid 3px #88f;
}

div.contents {
  color: #555;
  width: 37em;
  margin: 5em auto 5em;
  padding: 0;
}

div.contents p.text {
  line-height: 2;
}

div.logo {
  text-align: center;
}

div.logo .word {
  color: #888;
  font-size: 0.75em;
  text-align: center;
}

ol.chapters {
  list-style: none;
  width: 18em;
  margin: 2em auto 2em;
  padding: 0;
}

ol.chapters li {
  width: 2em;
  margin: 0 0.5em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

ol.chapters li a {
  color: #ccc;
  text-decoration: none;
}

ol.chapters li {
  border-bottom: solid 3px #fff;
}

ol.chapters li:hover {
  border-bottom: solid 3px #88f;
}

ol.mobile-chapters {
  display: none;
}

div.pages {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.subpage {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: auto;
}

div.subpage:target {
  display: block;
}

div.mainpage {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
}

div.subpage:target ~ div.mainpage {
  display: none;
}
