html.desktop body {
  margin: 0;
  padding: 0;
}

html.desktop div.header {
  margin: 0;
  padding: 0;
}

html.desktop div.header .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

html.desktop div.header ol.nav {
  list-style: none;
  float: right;
  margin: 2em;
  padding: 0;
}

html.desktop div.header ol.nav li {
  color: #ccc;
  min-width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

html.desktop div.header ol.nav li a {
  color: #ccc;
  text-decoration: none;
}

html.desktop div.header ol.nav li {
  border-bottom: solid 3px #fff;
}

html.desktop div.header ol.nav li[now="true"] {
  border-bottom: solid 3px #88f;
}

html.desktop div.header ol.nav li:hover:not(.nohover) {
  border-bottom: solid 3px #88f;
}

html.desktop div.footer {
  margin: 5em 0 0;
  padding: 0;
}

html.desktop div.footer .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

html.desktop div.footer ol.nav {
  list-style: none;
  width: 37em;
  margin: 0;
  padding: 0;
}

html.desktop div.footer ol.nav li {
  color: #ccc;
  min-width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

html.desktop div.footer ol.nav li a {
  color: #ccc;
  text-decoration: none;
}

html.desktop div.footer ol.nav li {
  border-bottom: solid 3px #fff;
}

html.desktop div.footer ol.nav li[now="true"] {
  border-bottom: solid 3px #88f;
}

html.desktop div.footer ol.nav li:hover:not(.nohover) {
  border-bottom: solid 3px #88f;
}

html.desktop div.contents {
  color: #555;
  width: 37em;
  margin: 5em auto 5em;
  padding: 0;
}

html.desktop p.text {
  line-height: 2;
}

html.desktop div.logo {
  text-align: center;
}

html.desktop div.logo .word {
  color: #888;
  font-size: 0.75em;
  text-align: center;
}

html.desktop ol.chapters {
  list-style: none;
  width: 18em;
  margin: 2em auto 2em;
  padding: 0;
}

html.desktop ol.chapters li {
  width: 2em;
  margin: 0 0.5em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

html.desktop ol.chapters li a {
  color: #ccc;
  text-decoration: none;
}

html.desktop ol.chapters li {
  border-bottom: solid 3px #fff;
}

html.desktop ol.chapters li:hover {
  border-bottom: solid 3px #88f;
}

html.desktop div.pages {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

html.desktop div.subpage {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: auto;
}

html.desktop div.subpage:target {
  display: block;
}

html.desktop div.mainpage {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
}

html.desktop div.subpage:target ~ div.mainpage {
  display: none;
}
