body {
  margin: 0;
  padding: 0;
}

div.header {
  margin: 0;
  padding: 0;
  text-align: center;
}

div.header img {
  width: 50%;
}

div.header .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

div.header ol.nav {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

div.header ol.nav li {
  color: #ccc;
  min-width: 1.5em;
  margin: 0.25em 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.header ol.nav li a {
  color: #ccc;
  text-decoration: none;
}

div.header ol.nav li {
  border-bottom: solid 3px #fff;
}

div.header ol.nav li[now="true"] {
  border-bottom: solid 3px #88f;
}

div.footer {
  margin: 1em 0 0;
  padding: 0;
}

div.footer .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

div.footer ol.nav1 {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.footer ol.nav {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.footer ol.nav li {
  color: #ccc;
  min-width: 1.5em;
  margin: 0.25em 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.footer ol.nav li a {
  color: #ccc;
  text-decoration: none;
}

div.footer ol.nav li {
  border-bottom: solid 3px #fff;
}

div.footer ol.nav li[now="true"] {
  border-bottom: solid 3px #88f;
}

div.contents {
  color: #555;
  margin: 0.75em;
  padding: 0;
}

div.contents p.text {
}

div.contents img {
  width: 100%;
  height: auto;
}

div.hpot-header-of-main {
  text-align: center;
}

div.hpot-header-of-main img {
  width: 100%;
  height: auto;
}

div.hpot-header-of-main p.word {
  color: #888;
  text-align: center;
}


ol.chapters {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

ol.chapters li {
  width: 100%;
  margin: 0.5em auto 0.5em;
  padding: 0;
}

ol.chapters li p {
  color: #555;
  font-weight: bold;
}

ol.chapters li ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.chapters li ol li {
  width: 1.5em;
  margin: 0 0.25em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

ol.chapters li ol li a {
  color: #ccc;
  text-decoration: none;
}

ol.chapters li ol li {
  border-bottom: solid 3px #fff;
}

ol.chapters li ol li:hover {
  border-bottom: solid 3px #88f;
}

div.pages {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.subpage {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: auto;
}

div.subpage:target {
  display: block;
}

div.mainpage {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
}

div.subpage:target ~ div.mainpage {
  display: none;
}
