a:link{color:#ff0000;}
a:visited {color:#ff0000;}

*{
  font-family:"メイリオ","Meiryo",sans-serif;
}

.logo{
  margin-top:2em;
  text-align: center;
}

table.top{
  table-layout:fixed;
  width:400px;
  margin-top:3em;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font:large/200% "メイリオ","Meiryo",sans-serif;
  padding: 0;
}

.picture_text{
  text-align:center;
  margin-top:3em;
}

table.picture{
  table-layout:fixed;
  width:640px;
  margin-top:3em;
  margin-left:auto;
  margin-right:auto;
}

table.picture img{
  border: 1px #000000 solid;
}

table.picture>caption{
  font:large/150% "メイリオ",sans-serif;
  text-align:left;
}

.back{
  font:large/200% "メイリオ",sans-serif;
  text-align:center;
  margin-top:4em;
  margin-bottom:2em;
}

.image{
  margin-top:3em;
  text-align:center;
}

.image img{
  border: 1px #000000 solid;
}

.picturetitle{
  margin-top:1em;
  font:large/100% "メイリオ",sans-serif;
  text-align:center;
}

.caption{
  margin-top:1em;
  font:medium/100% "メイリオ",sans-serif;
  text-align:center;
}

table.novel{
  table-layout:auto;
  width:640px;
  margin-top:0.5em;
  margin-left:auto;
  margin-right:auto;
  border: solid 1px #555555
}

table.novel td{
  border: solid 1px #555555
}

.noveltitle{
  text-align:center;
  }
  
.noveldata1{
  text-align:center;
  font:medium/100% "メイリオ",sans-serif;
  height:2em;
  }
 
.noveldata2{
  text-align:center;
  font:large/100% "メイリオ",sans-serif;
  height:3em;
  }

.novelabst{
  padding-left:1em;
  padding-right:1em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-align:justify;
　font:large/100% "メイリオ",sans-serif;
}
