/*全般*/

a:link{color:#ff0000;}

a:visited {color:#ff0000;}

html {
overflow-y:scroll;
}

*{
  font-family:"メイリオ","Meiryo",sans-serif;
}

.logo{
  margin-top:2em;
  text-align: center;
}

.back{
  font:large/200% "メイリオ",sans-serif;
  text-align:center;
  margin-top:4em;
  margin-bottom:2em;
}



/*トップページ*/

table.top{
  table-layout:fixed;
  width:400px;
  margin-top:3em;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font:large/200% "メイリオ","Meiryo",sans-serif;
  padding: 0;
}

.information{
  width:640px;
  margin-top:3em;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font:midium/100% "メイリオ","Meiryo",sans-serif;
  padding: 1em;
  border: 1px #000000 solid;
}



/*小説ページ*/

table.novel{
  table-layout:auto;
  width:640px;
  margin-top:0.5em;
  margin-left:auto;
  margin-right:auto;
  border: solid 1px #555555
}

table.novel td{
  border: solid 1px #555555
}

.noveltitle td{
  text-align:center;
  height:100px;
  font-size:x-large;
  }
  
.noveldata1{
  text-align:center;
  font:medium/100% "メイリオ",sans-serif;
  height:2em;
  }
 
.noveldata2{
  text-align:center;
  font:medium/100% "メイリオ",sans-serif;
  height:3em;
  }

.novelabst{
  padding-left:1em;
  padding-right:1em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-align:justify;
　font:large/100% "メイリオ",sans-serif;
}

table.short{
  table-layout:auto;
  width:800px;
  margin-top:0.5em;
  margin-left:auto;
  margin-right:auto;
  border: solid 1px #555555
}

table.short td{
  border: solid 1px #555555
}



/*お絵かきページ*/

.picture_text{
  text-align:center;
  margin-top:3em;
}

table.picture{
  table-layout:fixed;
  width:640px;
  margin-top:3em;
  margin-left:auto;
  margin-right:auto;
}

table.picture img{
  border: 1px #AAAAAA solid;
  Opacity: 0.6;
}

table.picture img:hover{
  Opacity: 1;
  border: 1px #000000 solid;
}

table.picture>caption{
  font:large/150% "メイリオ",sans-serif;
  text-align:left;
}

.image{
  margin-top:3em;
  text-align:center;
}

.image img{
  border: 1px #000000 solid;
}

.picturetitle{
  margin-top:1em;
  font:large/100% "メイリオ",sans-serif;
  text-align:center;
}

.caption{
  margin-top:1em;
  font:medium/100% "メイリオ",sans-serif;
  text-align:center;
}



/*リンクページ*/


table.linktop{
  table-layout:auto;
  width:430px;
  margin-top:4em;
  margin-left:auto;
  margin-right:auto;
}

table.linktop img{
  border: 1px #AAAAAA solid;
  opacity:0.6;
}

table.linktop img:hover{
  border: 1px #000000 solid;
  opacity:1;
}


table.link{
  table-layout:auto;
  width:640px;
  margin-top:0em;
  margin-left:auto;
  margin-right:auto;
}

table.link td{
  text-align:center;
  padding-top:0.5em;
  padding-bottom:0.5em;
  width:auto;
  height:70px
}

table.link img{
  border: 1px #AAAAAA solid;
  opacity:0.6;
}

table.link img:hover{
  border: 1px #000000 solid;
  opacity:1;
}

.pbanner{
  border: 1px #AAAAAA solid;
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-right:1em;
  padding-left:1em;
  text-align:center;
  opacity:0.6;
}

.pbanner:hover{
  border: 1px #000000 solid;
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-right:1em;
  padding-left:1em;
  text-align:center;
  opacity:1;
}

