a:link{color:#ff0000;}
a:visited {color:#ff0000;}

.logo{
  margin-top:2em;
  text-align: center;
}

table.top{
  table-layout:fixed;
  width:400px;
  margin-top:3em;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font:large/200% "メイリオ",sans-serif;
  padding: 0;
}

table.picture{
  table-layout:fixed;
  width:640px;
  margin-top:4em;
  margin-left:auto;
  margin-right:auto;
}

table.picture img{
  border: 1px #000000 solid;
}

table.picture>caption{
  font:large/150% "メイリオ",sans-serif;
  text-align:left;
}

.back{
  font:large/200% "メイリオ",sans-serif;
  text-align:center;
  margin-top:4em;
  margin-bottom:2em;}

