@media screen and (max-device-width: 480px) and (orientation: landscape) {

/**************************************\
 * CSS for mobile (landscape)
\**************************************/

body {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a img {
  border-style: none;
}


figure.link{
  position:relative; top:-4em; left:-4em;
  width:80em;
  text-align:center;
  margin-bottom:0px;
  float: left;
  list-style-type:none;
}

li.link{
  text-align:center;
  margin-bottom:0px;
  float: left;
}


/**************************************\
 * Header
\**************************************/
div.header {
  margin: 0;
  padding: 0;
  text-align: center;
}

div.header .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

/**************************************\
 * Contents of Main contents
\**************************************/
#main-contents img.metastable-cover {
  display: none; /* FIXME */
}

/**************************************\
 * Header of Main page
\**************************************/
div.metastable-main-header img {
  width: 50%;
  height: auto;
}

div.metastable-main-header p.word {
  color: #888;
  text-align: center;
}

/**************************************\
 * Header of Novel page
\**************************************/
div.metastable-page-header {
  display: none;
}

/**************************************\
 * Footer
\**************************************/
div.footer {
  margin: 1em 0 0;
  padding: 0;
}

div.footer div.hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

/**************************************\
 * Index of Footer
\**************************************/
div.footer div.metastable-index > ol {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.footer div.metastable-index div.metastable-section-index > ol {
  list-style: none;
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

div.footer div.metastable-index div.metastable-section-index > p.title {
  color: #ccc;
  width: 16em;
  display: inline-block;
}

div.footer div.metastable-index div.metastable-section-index > ol li {
  width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.footer div.metastable-index div.metastable-section-index > ol li a {
  color: #ccc;
  text-decoration: none;
}

div.footer div.metastable-index div.metastable-section-index > ol li {
  border-bottom: solid 3px #fff;
}

div.footer div.metastable-index div.metastable-section-index > ol li[now="true"] {
  border-bottom: solid 3px #f88;
}

/**************************************\
 * Contents
\**************************************/
div.contents {
  color: #555;
  margin: 0.75em;
  padding: 0;
}

div.contents div.text {
  white-space: pre-wrap;
  line-height: 2;
}

div.contents img {
  width: 80%;
  height: auto;
}

/**************************************\
 * Logo of Contents
\**************************************/
div.contents div.logo {
  border: solid 1px #ccc;
}

div.contents div.logo img {
  width: 80%;
}


/**************************************\
 * Index of Main page
\**************************************/
#main-metastable-index > ol {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main-metastable-index > ol li {
  margin: 0;
  padding: 0;
}

#main-metastable-index > ol li p.title {
  width: 16em;
  color: #555;
  font-weight: bold;
  display: inline-block;
}

#main-metastable-index > ol li ol {
  width: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#main-metastable-index > ol li ol li {
  color: #ccc;
  width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

#main-metastable-index > ol li ol li a {
  color: #ccc;
  text-decoration: none;
}

#main-metastable-index > ol li ol li {
  border-bottom: solid 3px #fff;
}

#main-metastable-index > ol li ol li[now="true"] {
  border-bottom: solid 3px #f88;
}

}