div.contents div.text {
  font-family:"メイリオ", "Meiryo";
  color:#666;
}

span.simplified {
  font-family:"Microsoft YaHei";
  font-size:100%;
  color:#666;
  text-shadow: 0px 0px 0px #FFFFFF;
}