@font-face {
  font-family: "Noto Sans CJK JP Light";
  src: url("../fonts/NotoSansCJKjp-Light.otf") format("opentype") ;
}

@font-face {
  font-family: "Noto Sans CJK SC Light";
  src: url("../fonts/NotoSansCJKsc-Light.otf") format("opentype") ;
}

div.contents div.text {
  font-family:"Noto Sans CJK JP Light"
}

span.simplified {
  font-family:"Noto Sans CJK SC Light"
}
