@font-face {
  font-family: "Noto Sans CJK JP Light";
  src: url("../fonts/NotoSansCJKjp-Light.otf") format("opentype") ;
}

@font-face {
  font-family: "Noto Sans CJK SC Light";
  src: url("../fonts/NotoSansCJKsc-Light.otf") format("opentype") ;
}

div.contents div.text {
  font-family:"Noto Sans CJK JP Light";
  color:#555;
}

span.simplified {
  font-family:"Noto Sans CJK SC Light"
  font-size:100%;
  color:#555;
  text-shadow: 0px 0px 0px #FFFFFF;
}
