@font-face {
  font-family: "IPAex明朝";
  src: url("../fonts/ipaexm.ttf") format("truetype") ;
}

@font-face {
  font-family: "AR PL SungtiL GB";
  src: url("../fonts/gbsn00lp.ttf") format("truetype") ;
}

div.contents div.text {
  font-family:"游明朝","游明朝体","Yu Mincho","YuMincho","IPAex明朝";
  color:black;
}

span.simplified {
  font-family:"AR PL SungtiL GB";
}