@font-face {
  font-family: "游明朝","游明朝体","Yu Mincho","YuMincho";
  src: url("../fonts/yumin.ttf") format("truetype") ;
}

@font-face {
  font-family: "AR PL SungtiL GB";
  src: url("../fonts/gbsn00lp.ttf") format("truetype") ;
}

div.contents div.text {
  font-family:"游明朝","游明朝体","Yu Mincho","YuMincho";
  color:black;
}

span.simplified {
  font-family:"AR PL SungtiL GB";
}