
@media not screen and (max-device-width: 480px) {

/**************************************\
 * CSS for desktop
\**************************************/

* {}

body {
  margin: 0;
  padding: 0;
}

a img {
  border-style: none;
}

/**************************************\
 * Header
\**************************************/
div.header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family:"游明朝 Demibold","ヒラギノ明朝W4","HG明朝B","ＭＳ 明朝",serif;
}

div.header .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

div.header div.hr + p.word {
  margin-left: 2em;
}

div.header p.word {
  color: #888;
  font-size: 0.75em;
  margin: 0;
  display: inline-block;
}

/**************************************\
 * Section Index of Header
\**************************************/
div.header div.hpot-section-index {
  position: absolute;
  right: 2em;
  top: 0.25em;
}

div.header div.hpot-section-index ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

div.header div.hpot-section-index ol li {
  min-width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.header div.hpot-section-index p.title {
  color: #ccc;
  display: inline-block;
  margin-right:1em;
}

div.header div.hpot-section-index ol li a {
  color: #ccc;
  text-decoration: none;
}

div.header div.hpot-section-index ol li {
  border-bottom: solid 3px #fff;
}

div.header div.hpot-section-index ol li[now="true"] {
  border-bottom: solid 3px #88f;
}

div.header div.hpot-section-index ol li:hover {
  border-bottom: solid 3px #88f;
}

/**************************************\
 * Font Select
\**************************************/
div.header select.fontselect {
  marigin-top: 0.25em;
  float: right;
}

/**************************************\
 * Footer
\**************************************/
div.footer {
  margin: 5em 0 0;
  padding: 0;
  font-family:"游明朝 Demibold","ヒラギノ明朝W4","HG明朝B","ＭＳ 明朝",serif;
}

div.footer div.hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

/**************************************\
 * Index of Footer
\**************************************/
div.footer div.hpot-index > ol {
  list-style: none;
  width: 37em;
  margin: 0;
  padding: 0;
}

div.footer div.hpot-index div.hpot-section-index > ol {
  list-style: none;
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

div.footer div.hpot-index div.hpot-section-index > p.title {
  color: #ccc;
  width: 16em;
  display: inline-block;
}

div.footer div.hpot-index div.hpot-section-index > ol li {
  width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.footer div.hpot-index div.hpot-section-index > ol li a {
  color: #ccc;
  text-decoration: none;
}

div.footer div.hpot-index div.hpot-section-index > ol li {
  border-bottom: solid 3px #fff;
}

div.footer div.hpot-index div.hpot-section-index > ol li[now="true"],
div.footer div.hpot-index div.hpot-section-index > ol li:hover {
  border-bottom: solid 3px #88f;
}

/**************************************\
 * Contents
\**************************************/
div.contents {
  color: #666;
  width: 37em;
  margin: 5em auto 5em;
  padding: 0;
}

div.contents div.text {
  line-height: 2.23;
  font-weight:light;
  text-align:justify;
  font-family:"ヒラギノ角ゴ Pro W3","メイリオ","ＭＳ ゴシック",sans-serif;
}

div.contents div.text {
  white-space: pre-wrap;
}

span.simplified {
  line-height: 2;
  font-family:"Han","Microsoft YaHei","SimHei",sans-serif;
  vertical-align:0%;
  font-size:100%;
}

span.ref_category {
  line-height: 2;
  font-size: xx-large;
  font-weight:bold;
}

li.ref_title {
  font-size: large;
  margin-top:1em;
  margin-bottom:-2em;
  font-weight:bold;
}

/**************************************\
 * Logo of Contents
\**************************************/
div.contents div.logo {
  border: solid 1px #ccc;
}

div.contents div.logo img {
  width: 100%;
}

div.hpot-main-header {
  display: none;
}

/**************************************\
 * Contents of Main contents
\**************************************/
#main-contents {
  width: 68em;
}

#main-contents img.hpot-cover {
  float: left;
  position: relative; top:-3em;right:-0.5em;
}

/**************************************\
 * Index of Main page
\**************************************/
#main-hpot-index {
  right:auto;
  float: right;
  margin-top: 1em;
  width:33em;
  position:relative;left:-0.5em;
  font-family:"游明朝 Demibold","ヒラギノ明朝W4","HG明朝B","ＭＳ 明朝",serif;
}

#main-hpot-index > ol {
  list-style: none;
  width: 33em;
  margin: 0;
  padding: right:0em;
  position: relative; top:1em;
}

#main-hpot-index > ol li {
  width: 33em;
  margin: 0;
  padding: 0;
}

#main-hpot-index > ol li p.title {
  width: 14em;
  color: #555;
  font-weight: bold;
  display: inline-block;
}

#main-hpot-index > ol li ol {
  width: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#main-hpot-index > ol li ol li {
  color: #ccc;
  width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

#main-hpot-index > ol li ol li a {
  color: #bbb;
  text-decoration: none;
}

#main-hpot-index > ol li ol li {
  border-bottom: solid 3px #fff;
}

#main-hpot-index > ol li ol li[now="true"],
#main-hpot-index > ol li ol li:hover {
  border-bottom: solid 3px #88f;
}

}


