@font-face {
  font-family: "源ノ角ゴシック JP Regular";
  src: url("../fonts/SourceHanSansJP-Regular.otf") format("opentype") ;
  font-family: "Source Han Sans JP Regular";
  src: url("../fonts/SourceHanSansJP-Regular.otf") format("opentype") ;
  font-family: "Source Han Sans CN Regular";
  src: url("../fonts/SourceHanSansCN-Regular.otf") format("opentype") ;
}


@media not screen and (max-device-width: 480px) {

/**************************************\
 * CSS for desktop
\**************************************/

body {
  margin: 0;
  padding: 0;
}

a img {
  border-style: none;
}

/**************************************\
 * Header
\**************************************/
div.header {
  width: 100%;
  margin: 0;
  padding: 0;
}

div.header .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

div.header div.hr + p.word {
  margin-left: 2em;
}

div.header p.word {
  color: #888;
  font-size: 0.75em;
  margin: 0;
  display: inline-block;
}

/**************************************\
 * Section Index of Header
\**************************************/
div.header div.hpot-section-index {
  float: right;
  margin: 2em;
}

div.header div.hpot-section-index ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

div.header div.hpot-section-index ol li {
  min-width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.header div.hpot-section-index p.title {
  color: #ccc;
  display: inline-block;
}

div.header div.hpot-section-index ol li a {
  color: #ccc;
  text-decoration: none;
}

div.header div.hpot-section-index ol li {
  border-bottom: solid 3px #fff;
}

div.header div.hpot-section-index ol li[now="true"] {
  border-bottom: solid 3px #88f;
}

div.header div.hpot-section-index ol li:hover {
  border-bottom: solid 3px #88f;
}

/**************************************\
 * Footer
\**************************************/
div.footer {
  margin: 5em 0 0;
  padding: 0;
}

div.footer div.hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

/**************************************\
 * Index of Footer
\**************************************/
div.footer div.hpot-index > ol {
  list-style: none;
  width: 37em;
  margin: 0;
  padding: 0;
}

div.footer div.hpot-index div.hpot-section-index > ol {
  list-style: none;
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

div.footer div.hpot-index div.hpot-section-index > p.title {
  color: #ccc;
  width: 16em;
  display: inline-block;
}

div.footer div.hpot-index div.hpot-section-index > ol li {
  width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.footer div.hpot-index div.hpot-section-index > ol li a {
  color: #ccc;
  text-decoration: none;
}

div.footer div.hpot-index div.hpot-section-index > ol li {
  border-bottom: solid 3px #fff;
}

div.footer div.hpot-index div.hpot-section-index > ol li[now="true"],
div.footer div.hpot-index div.hpot-section-index > ol li:hover {
  border-bottom: solid 3px #88f;
}

/**************************************\
 * Contents
\**************************************/
div.contents {
  color: #444;
  width: 37em;
  margin: 5em auto 5em;
  padding: 0;
}

div.contents div.text {
  line-height: 2;
  font-family: "源ノ角ゴシック JP Regular","Source Han Sans JP Regular","ヒラギノ角ゴ Pro W3",メイリオ,sans-serif !important ; 
  text-align:justify;
}

div.contents div.text {
  white-space: pre-wrap;
}

span.simplified {
  line-height: 2;
  font-family: "Source Han Sans CN Regular","Hei","Microsoft YaHei",sans-serif !important ;
}

span.times {
  line-height: 2;
  font-family: "Times New Roman","Times",serif !important ;
  font-size: large;
}

/**************************************\
 * Logo of Contents
\**************************************/
div.contents div.logo {
  border: solid 1px #ccc;
}

div.contents div.logo img {
  width: 100%;
}

/**************************************\
 * Index of Main page
\**************************************/
#main-hpot-index > ol {
  list-style: none;
  width: 37em;
  margin: 0;
  padding: 0;
}

#main-hpot-index > ol li {
  width: 37em;
  margin: 0;
  padding: 0;
}

#main-hpot-index > ol li p.title {
  width: 16em;
  color: #555;
  font-weight: bold;
  display: inline-block;
}

#main-hpot-index > ol li ol {
  width: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#main-hpot-index > ol li ol li {
  color: #ccc;
  width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

#main-hpot-index > ol li ol li a {
  color: #ccc;
  text-decoration: none;
}

#main-hpot-index > ol li ol li {
  border-bottom: solid 3px #fff;
}

#main-hpot-index > ol li ol li[now="true"],
#main-hpot-index > ol li ol li:hover {
  border-bottom: solid 3px #88f;
}

}


