
@media not screen and (max-device-width: 480px) {

/**************************************\
 * CSS for desktop
\**************************************/

* {}

body {
  margin: 0;
  padding: 0;
}

a img {
  border-style: none;
  margin-left:1em;
  margin-top:0.7em;
  margin-bottom:0em;
}


table.appendix {
  position:relative; top:-3em; left:-1.5em;
  width:40em;
  height:3em;
  text-align:center;
  table-layout:fixed;
  margin-bottom:0px;
}



/**************************************\
 * Header
\**************************************/
div.header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family:"游明朝 Demibold","ヒラギノ明朝 ProN W3","Hiragino Mincho Pro","HG明朝B",serif;
}

div.header .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

div.header div.hr + p.word {
  margin-left: 2em;
}

div.header p.word {
  color: #888;
  font-size: 0.75em;
  margin: 0;
  display: inline-block;
}

div.hpft-page-header img {

}

/**************************************\
 * Section Index of Header
\**************************************/
div.header div.hpft-section-index {
  position: absolute;
  right: 2em;
  top: 0.25em;
}

div.header div.hpft-section-index ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

div.header div.hpft-section-index ol li {
  min-width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.header div.hpft-section-index p.title {
  color: #aaa;
  display: inline-block;
  margin-right:1em;
}

div.header div.hpft-section-index ol li a {
  color: #aaa;
  text-decoration: none;
}

div.header div.hpft-section-index ol li {
  border-bottom: solid 3px #fff;
}

div.header div.hpft-section-index ol li[now="true"] {
  border-bottom: solid 3px #88f;
}

div.header div.hpft-section-index ol li:hover {
  border-bottom: solid 3px #88f;
}

/**************************************\
 * Font Select
\**************************************/
div.header select.fontselect {
  marigin-top: 0.25em;
  float: right;
}

/**************************************\
 * Footer
\**************************************/
div.footer {
  margin: 5em 0 0;
  padding: 0;
  font-family:"游明朝 Demibold","ヒラギノ明朝 ProN W3","Hiragino Mincho Pro","HG明朝B",serif;
}

div.footer div.hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

/**************************************\
 * Index of Footer
\**************************************/
div.footer div.hpft-index > ol {
  list-style: none;
  width: 37em;
  margin: 0;
  padding: 0;
}

div.footer div.hpft-index div.hpft-section-index > ol {
  list-style: none;
  width: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

div.footer div.hpft-index div.hpft-section-index > p.title {
  color: #aaa;
  width: 16em;
  display: inline-block;
}

div.footer div.hpft-index div.hpft-section-index > ol li {
  width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.footer div.hpft-index div.hpft-section-index > ol li a {
  color: #aaa;
  text-decoration: none;
}

div.footer div.hpft-index div.hpft-section-index > ol li {
  border-bottom: solid 3px #fff;
}

div.footer div.hpft-index div.hpft-section-index > ol li[now="true"],
div.footer div.hpft-index div.hpft-section-index > ol li:hover {
  border-bottom: solid 3px #88f;
}

/**************************************\
 * Contents
\**************************************/
div.contents {
  color: #666;
  width: 37em;
  margin: 5em auto 5em;
  padding: 0;
}

div.contents div.text {
  line-height: 2.23;
  font-weight:light;
  text-align:justify;
}

div.contents div.text {
  white-space: pre-wrap;
}

span.simplified {
  line-height: 2;
  vertical-align:0%;
  font-size:100%;
}

span.ref_category {
  line-height: 2;
  font-size: xx-large;
  font-weight:bold;
}

li.ref_title {
  font-size: large;
  margin-top:1em;
  margin-bottom:-2em;
  font-weight:bold;
}

/**************************************\
 * Logo of Contents
\**************************************/
div.contents div.logo {
  border: solid 1px #ccc;
}

div.contents div.logo img {
  width: 100%;
}

div.hpft-main-header {
  display: none;
}

/**************************************\
 * Contents of Main contents
\**************************************/
#main-contents {
  width: 68em;
}

#main-contents img.hpft-cover {
  float: left;
  position: relative; top:-3em;right:1.5em;
  border:double 4px;
}

/**************************************\
 * Index of Main page
\**************************************/

body.index {
  background-color:#F8F8F8;
}

#main-hpft-index {
  right:auto;
  float: right;
  margin-top: 1em;
  margin-bottom: -1em;
  width:33em;
  position:relative;left:-0.5em;
  font-family:"游明朝 Demibold","ヒラギノ明朝 ProN W3","Hiragino Mincho Pro","HG明朝B",serif;
}

#main-hpft-index > ol {
  list-style: none;
  width: 33em;
  margin: 0;
  padding-right:1em;
  padding-top:4em;
  padding-bottom:4.1em;
  height:39.9em;
  position: relative; top:-4em; left:-1em;
  border-top:double 4px;
  border-bottom:double 4px;
  border-right:double 4px;
  background-color:#FFFFFF;
}

#main-hpft-index > ol li {
  width: 33em;
  margin: 0;
  padding: 0;
}

#main-hpft-index > ol li p.title {
  width: 14em;
  color: #555;
  font-weight: bold;
  display: inline-block;
}

#main-hpft-index > ol li ol {
  width: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#main-hpft-index > ol li ol li {
  color: #ccc;
  width: 2em;
  margin: 0 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

#main-hpft-index > ol li ol li a {
  color: #aaa;
  text-decoration: none;
}

#main-hpft-index > ol li ol li {
  border-bottom: solid 3px #fff;
}

#main-hpft-index > ol li ol li[now="true"],
#main-hpft-index > ol li ol li:hover {
  border-bottom: solid 3px #88f;
}

}


