@media screen and (max-device-width: 480px) and (orientation: portrait) {

/**************************************\
 * CSS for mobile (portrait)
\**************************************/

body {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a img {
  border-style: none;
}

figure.link{
  position:relative; top:0em; left:0em;
  text-align:center;
  margin-bottom:0px;
  float: left;
  list-style-type:none;
}

li.link{
  text-align:center;
  margin-bottom:1em;
  float: left;
}


/**************************************\
 * Header
\**************************************/
div.header {
  margin: 0;
  padding: 0;
  text-align: center;
}

div.header .hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

/**************************************\
 * Contents of Main contents
\**************************************/
#main-contents img.hpft-cover {
  display: none; /* FIXME */
}

/**************************************\
 * Header of Main page
\**************************************/
div.hpft-main-header img {
  width: 100%;
  height: auto;
}

div.hpft-main-header p.word {
  color: #888;
  text-align: center;
}

/**************************************\
 * Header of Novel page
\**************************************/
div.hpft-page-header img {
  width: 50%;
}

div.hpft-page-header p.word {
  display: none;
}

/**************************************\
 * Section Index of Header
\**************************************/
div.header div.hpft-section-index p.title {
  color: #ccc;
}

div.header div.hpft-section-index ol {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

div.header div.hpft-section-index ol li {
  color: #ccc;
  min-width: 1.5em;
  margin: 0.25em 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.header div.hpft-section-index ol li a {
  color: #ccc;
  text-decoration: none;
}

div.header div.hpft-section-index ol li {
  border-bottom: solid 3px #fff;
}

div.header div.hpft-section-index ol li[now="true"] {
  border-bottom: solid 3px #88f;
}

/**************************************\
 * Footer
\**************************************/
div.footer {
  margin: 1em 0 0;
  padding: 0;
}

div.footer div.hr {
  background-color: #ccc;
  width: 100%;
  height: 0.2em;
}

/**************************************\
 * Index of Footer
\**************************************/
div.footer div.hpft-index > ol {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.footer div.hpft-section-index > ol {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

div.footer div.hpft-section-index li {
  color: #ccc;
  min-width: 1.5em;
  margin: 0.25em 0.125em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

div.footer div.hpft-section-index p.title {
  color: #ccc;
}

div.footer div.hpft-section-index li a {
  color: #ccc;
  text-decoration: none;
}

div.footer div.hpft-section-index li {
  border-bottom: solid 3px #fff;
}

div.footer div.hpft-section-index li[now="true"] {
  border-bottom: solid 3px #88f;
}

/**************************************\
 * Contents
\**************************************/
div.contents {
  color: #555;
  margin: 0.75em;
  padding: 0;
}

div.contents div.text {
  white-space: pre-wrap;
  line-height: 2;
}

div.contents img {
  width: 100%;
  height: auto;
}

/**************************************\
 * Logo of Contents
\**************************************/
div.contents div.logo {
  border: solid 1px #ccc;
}

div.contents div.logo img {
  width: 100%;
}


/**************************************\
 * Index of Main page
\**************************************/
#main-hpft-index ol {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main-hpft-index > ol li {
  width: 100%;
  margin: 0.5em auto 0.5em;
  padding: 0;
}

#main-hpft-index > ol li p.title {
  color: #555;
  font-weight: normal;
}

#main-hpft-index > ol li ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-hpft-index > ol li ol li {
  width: 1.5em;
  margin: 0 0.25em;
  padding: 0;
  display: inline-block;
  text-align: center;
}

#main-hpft-index > ol li ol li a {
  color: #999;
  text-decoration: none;
}

#main-hpft-index > ol li ol li {
  border-bottom: solid 3px #fff;
}

#main-hpft-index > ol li ol li:hover {
  border-bottom: solid 3px #88f;
}

}