/************************************
    全般設定
************************************/


body{
    background-color: black;
    font-family: "游明朝",serif;
}

#Background{
    width: 100%;
    height: 100%;
	position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

#LoadingIcon{
    width: 102px;
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:auto;
    display: block;
}

a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color:white;
}


/************************************
    カバー
************************************/


#Cover{
    width:1024px;
    height:633px;
    margin:auto;
    vertical-align: middle;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-image: url(images/1/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px #999;
    display: none;
}

#Logo{
    width:317;
    position:absolute;
    bottom:0px;
    left:10px;
}

#Logo:hover{
    filter:brightness(1.5);
}

#menu{
    position: absolute;
    bottom:20px;
    right:15px;
    text-align:center;
}

img.Button{
    height:60px;
    margin: 10px;
    margin-bottom: 5px;
    opacity:0.95;
}

img.Button:hover{
    filter:brightness(1.5);
}

#CloseButton{
    font-family: monospace,sans-serif;
    font-size:35px;
    font-weight: bold;
    position:absolute;
    right:10px;
    top:10px;
    text-align: right;
    color:white;
}

#CloseButton:hover{
    opacity:0.7;
}


/************************************
    目次
************************************/

#Index{
    width:1024px;
    height:633px;
    color:white;
    display:none;
    position: absolute;
    background-image: url(images/mask.png);
}

#indexBackground{
    z-index: 1;
    position: absolute;
}

#Contents{
    text-align: center;
    right:0;
    left:0;
    margin:auto;
    margin: 40px;
    font-size:25px;
    line-height: 2;
    z-index: 500;
    text-shadow: 0px 0px 5px #fff;
}

span.SecSpan{
    padding-right: 5px;
    padding-left: 5px;    
}
span.SecSpan:hover{
    border: solid 1px #fff;
}

#Index2{
    width:800px;
    margin:0 auto;
}

#SectionTitle{
    text-align: left;
    float:left;
    margin-right: 25px;
    margin-left: 125px;
}

#Subsection{
    text-align: left;
    font-size:90%;
    line-height: 50px;
}

span.SubsecSpan{
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

span.SubsecSpan:hover{
    border: solid 1px #fff;
    margin-right: 4px;
    margin-left: 4px;
}

#Index3{    

}



/************************************
    キャラクター
************************************/

#Characters{
    width:1024px;
    height:633px;
    color:white;
    display:none;
    position: absolute;
    background-image: url(images/mask.png);
}

div#CharsBody{
	margin: auto; 
    margin-top:80px;
    font-family: "游明朝";
}

div.CharCard{
    height: 200px;
    width:850px;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:50px;
    text-align: justify;
}

img.CharImage{
    height:200px;
    float:left;
    margin-right: 30px;
    margin-left: 0px;
}

div.CharText{
    text-shadow: 0px 0px 5px #fff;
    font-size:20px;
    font-weight: bolder;
    line-height: 1.7;
    padding-right: 10px;
}

div.CharName{
    font-size:30px;
    margin-bottom: 0px;
    position: relative;
    left:-5px;
}

div#CharTextRiko{
    position:relative;
    top:30px;
}



/************************************
    用語集
************************************/

#KeyWords{
    width:1024px;
    height:633px;
    color:white;
    display:none;
    position: absolute;
    background-image: url(images/mask.png);
}

div.KeyWordsBody{
    width: 900px;
    height:553px;
    margin: auto;
    position: relative;
    margin-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: "游明朝";
    overflow-y: scroll;
}

div.Article{
    font-size:20px;
    text-shadow: 0px 0px 5px #fff;
    margin-top:30px;
    margin-bottom: 30px;
}

div.ArticleTitle{
    font-size:120%;
    font-weight: bold;
}

div.ArticleText{
    text-align: justify;
}


/************************************
    設定ページ
************************************/

#Setting{
    width:1024px;
    height:633px;
    color:white;
    display:none;
    position: absolute;
    background-image: url(images/mask.png);
}

div#SettingContents{
    width:650px;
    height:195px;
    margin: 0 auto;
    text-shadow: 0px 0px 5px #fff;
    position: relative;
    top:150px;
    padding-top:30px;
    padding-bottom: 30px;
}

div.SettingItem{
    font-family: "Noto Sans";
    font-size: 25px;
    position: absolute;
}

div.SettingTitle{
    font-size:150%;
    font-weight: bold;
}

div.FontChoice:hover{
    opacity:0.7;
    text-decoration: underline;
}

span#ChoiceLight{
    margin-right: 50px;
}

span.ColorChoice:hover{
    opacity:0.7;
    text-decoration: underline;
}


div#Font{
    left:0px;
    top:0px;
}

div#Color{
    right:0px;
    top:0px;
    width:350px;
}

div#DeleteBookmark{
    right:0px;
    top:120px;
    width:350px;
}

div#DeleteBookmark:hover{
    opacity:0.7;
    text-decoration: underline;
}

div#InitializeSettings{
    right:0px;
    bottom:0px;
    width:350px;
}

div#InitializeSettings:hover{
    opacity:0.7;
    text-decoration: underline;
}

/************************************
    本文ページ
************************************/

div#TextBackground{
    width: 1024px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
    visibility: hidden;
}


div#SectionCover{
    width:784px;
    border: solid 1px #888;
    display: block;
    margin: 0 auto;
    position: inherit;
}

img#SecCoverImg{
     width:784px;
}

img#SecCoverLogo{
    width:200px;
    position: absolute;
    bottom:0px;
    opacity: 0.7;
}

span.Font{
    margin-left: 5px;
    margin-right: 5px;
}

span.BackgroundColor{
    margin-left: 5px;
    margin-right: 0px;
}

div.Text{
    white-space: pre-wrap;
    margin-left:  120px;
    margin-right: 120px;
    font-size:20px;
    line-height: 40px;
    text-align: justify;
    color:black;
    margin-bottom: 75px;
    margin-top:50px;
}

div.Navigator{
    font-family: "Noto Sans";
    font-size:20px;
}

div.Navigator a:link{
    color:#333;
}

div.Navigator a:visited{
    color:#333;
}

div.Navigator a:hover{
    color:#333;
}

span.NaviBar{
    margin-right: 50px;
    margin-left: 50px;
}

div#Header{
    padding-top: 30px;
    padding-bottom: 50px;
}

div#Footer{
    position: relative;
    bottom:40px;
    margin-top: 150px;
}

div#Content{
}

span.SC{
}